@import '../../../variables.scss';

.LetterButton {
  border-radius: 4px;
  border: unset;
  background: $dark-blue;
  position: relative;
  width: 40px;
  height: 37px;
  font-size: 18px;
  color: $white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: ease-out 0.4s;

  &-badge {
    width: 20px;
    height: 20px;
    background: $white;
    border-radius: 50%;
    font-size: 12px;
    color: $darker-grey;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -6px;
    top: -3px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.25);
  }

  &-active {
    background: $mustard-yellow;
  }

  &-disabled {
    cursor: not-allowed;
    background: $dark-grey;

    .LetterButton-badge {
      color: $dark-grey;
      background: $muted-grey;
    }
  }
}
