@import '../../../variables.scss';

.Error {
  background: $light-grey;
  box-shadow: 10px 4px 250px rgba(0, 0, 0, 0.25);
  padding: 50px;
  margin: auto;

  h2 {
    color: $red;
  }

  p {
    color: $darker-grey;
  }
}
