@import '../../../variables.scss';

.ContactCard {
  border-bottom: 1px solid rgba(229, 229, 229, 0.7);
  padding: 10px 0;

  &-selected {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &-button {
    border: unset;
    background: unset;
    display: flex;
    align-items: center;
    width: 100%;

    .ContactCard-avatar {
      border-radius: 50%;
    }
    .ContactCard-name {
      p {
        text-align: left;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: $darker-grey;

        &:last-child {
          color: $dark-grey;
        }
      }
    }

    &:disabled {
      cursor: text;
    }
  }

  &-thumbnail {
    .ContactCard-avatar {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      transition: all ease 0.4s;
    }

    .ContactCard-name {
      p {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  &-header {
    padding: 10px 20px;
    background: $light-grey;
    position: relative;

    .ContactCard-avatar {
      margin-right: 20px;
      transition: all ease 0.4s;

      &-large {
        width: 72px;
        height: 72px;
      }
    }
  }

  &-details {
    position: relative;
    transition: all ease-in 1s;
    background: $mustard-yellow;

    &-closeBtn {
      position: absolute;
      top: -10px;
      right: 0px;
      border: unset;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $dark-blue;
      color: $light-grey;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Titillium Web', sans-serif;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    }

    &-body {
      color: $light-grey;
      padding: 3px 5px 3px 20px;

      p {
        font-family: 'Rochester', sans-serif;
        margin: 5px 0;
      }

      span {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
      }
    }
  }

  &:hover {
    border: unset;
    background: $light-grey;
    border-radius: 3px;
    box-shadow: 0px 5px 40px rgba(92, 92, 97, 0.12);
  }
}
