.Container {
  width: 90%;
  margin: 5% auto;
  background: #f4f4f7;
  box-shadow: 10px 4px 250px rgba(0, 0, 0, 0.25);
  position: relative;

  &-header {
    h1 {
      color: #c4c4c4;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &-divider {
      width: 60px;
      height: 2px;
      background: #e5e5e5;
    }
  }

  &-alphabet {
    width: 5%;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    overflow: scroll;
    bottom: 0;
    top: 70px;
    left: -30px;
    padding: 10px;

    &-button {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 500px) {
      width: 10%;
    }
  }

  &-contacts {
    margin-left: 7%;
    width: 90%;
    // height: 92%;

    &-wrapper {
      max-height: 92%;
      margin-top: 20px;
      overflow: scroll;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-column-gap: 10px;
    }
  }
}
