@import '../../../variables.scss';

.Container {
  width: 90%;
  margin: 5% auto;
  background: $light-grey;
  box-shadow: 10px 4px 250px rgba(0, 0, 0, 0.25);
  position: relative;

  &-header {
    h1 {
      color: $dark-grey;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &-divider {
      width: 60px;
      height: 2px;
      background: $faint-grey;
    }
  }

  &-alphabet {
    width: 5%;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    overflow: scroll;
    bottom: 0;
    top: 70px;
    left: -30px;
    padding: 10px;

    &-button {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 500px) {
      width: 10%;
      left: unset;
    }
  }

  &-contacts {
    margin-left: 7%;
    width: 90%;
    height: 100%;

    &-wrapper {
      height: 85%;
      margin-top: 20px;
      overflow: scroll;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 70px;
      grid-column-gap: 20px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 16%;
      width: 84%;
    }
  }

  @media screen and (max-width: 500px) {
    margin: 0;
    width: 100%;
  }
}
