.ContactCard {
  border-bottom: 1px solid rgba(229, 229, 229, 0.7);
  padding: 10px 0;
  height: 50px;

  &-selected {
    height: 200px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &-thumbnail {
    border: unset;
    background: unset;
    display: flex;
    align-items: center;
    width: 100%;
    &-avatar {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &-name {
      p {
        margin-bottom: 0;
        margin-top: 0;
        text-align: left;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #747070;

        &:last-child {
          color: #c4c4c4;
        }
      }
    }
  }

  &-details {
    position: relative;

    &-closeBtn {
      position: absolute;
      top: -5px;
      right: -5px;
      border: unset;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #3a2671;
      color: #f4f4f7;
      font-size: 14px;
      outline: unset;
      font-weight: 600;
      font-family: 'Titillium Web', sans-serif;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    }

    &-header {
      border: unset;
      background: unset;
      display: flex;
      align-items: center;
      padding: 10px 20px;
    }

    &-avatar {
      border-radius: 50%;
      margin-right: 10px;
    }

    &-name {
      p {
        text-align: left;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #747070;

        &:last-child {
          color: #c4c4c4;
        }
      }
    }

    &-body {
      background: #db9730;
      color: #f4f4f7;
      padding: 3px 5px 3px 20px;

      p {
        font-family: 'Rochester', sans-serif;
        margin: 5px 0;
        // display: flex;
      }
      span {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
      }
    }
  }

  &:hover {
    border: unset;
    background: #f4f4f7;
    border-radius: 3px;
    box-shadow: 0px 5px 40px rgba(92, 92, 97, 0.12);
  }
}
